@charset "utf-8";

.header{
    width:100%;
    height:140px;
    background-color:rgb(55, 56, 139);
    color:white;
    font:bold;
    display:flex;
    h1{
        // padding-left:30px;
        white-space:nowrap;
    }
    p{
        margin: auto 20px auto 700px;
        font-size:20px;
        white-space:nowrap;
    }
}

.header__logout-button{
    color:white;
    border: none;
    background: transparent;
    font-size: large;
}

.header__login-button{
    color:white;
    border: none;
    background: transparent;
}