@charset "utf-8";

.review-page {
  padding-bottom: 200px;
}

.review-list__registerbutton {
  background-color: rgb(55, 56, 139);
  color: #ffffff;
  margin-left: 20px;
  width: 200px;
  height: 100px;
  border: none;
  border-radius: 9999px;
}

.review-lists {
  width: auto;
  height: 350px;
  margin: 20px 25px;
  background-color: rgb(102, 134, 203);
  border-radius: 20px;
  text-align: left;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  word-break: break-all;

  // .review-lists__title {
  // }
  
  // .review-lists__reviewer {
  // }
  
  // .review-lists__url {
  // }
  // .review-lists__review {
  // }
.review-lists__button{
  width: 100px;
  height: 60px;
  border: none;
  border-radius: 9999px;
  background-color: #ffffff;
}
}






.pagination {
  margin: 0 auto;
  margin-bottom: 50px;
  padding-right: 20px;
  background-color: rgb(86, 136, 228);
  width: 400px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  li {
    margin: auto;
    list-style: none;
    a {
      border-radius: 50%;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
      padding: 10px;
    }

    a:hover {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }

  // .pagination__previous,
  // .pagination__next {
  //   & > a {
  //     font-size: 14px;
  //   }
  // }
}
